@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$color-text: rgba(0, 0, 0, 0.8);
$color-text-focus: #00A3E2;
$color-hover: #C7DCE6;

body {
  color: $color-text;
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  justify-content: center;
  line-height: 1.4;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  max-width: 400px;
  min-height: 100vh;
  min-width: 300px;
}

section {
  background-color: rgba(#000, 0.04);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 8px;
}

.new-currency {
  padding: 0;
}

@media (min-width : 480px) {
  .new-currency-select {
    display: none;
  }
}

@media (max-width : 480px) {
  .new-currency-input {
    display: none;
  }
}

.new-currency-input {
  border-radius: 3px;
  padding: 18px 32px;
  text-align: left;
  transition: background-color ease-out 100ms;

  &:focus {
    background-color: rgba(#fff, 0.05);
  }
}

.new-currency-select {
  appearance: none;
  background: none;
  border-radius: 3px;
  border: 0;
  color: rgba(0, 0, 0, 0.35);
  font-size: 28px;
  font-weight: 300;
  padding: 18px 32px;
  width: 100%;
}

.new-currency-input:focus + .new-currency-list {
  visibility: visible;
  opacity: 1;
}

.new-currency-list {
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 100%;
  box-shadow: 1px 1px 1px 0 rgba(#000, 0.02);
  color: rgba(#000, 0.87);
  font-size: 0;
  left: 0;
  margin-top: -8px;
  max-height: 400px;
  opacity: 0;
  overflow: scroll;
  padding: 8px 0;
  position: absolute;
  right: 0;
  transition: all ease-out 100ms;
  visibility: hidden;

  &:empty:empty {
    opacity: 0;
    visibility: hidden;
  }
}

.new-currency-list-item {
  cursor: pointer;
  padding: 4px 32px;
  transition: all ease-out 100ms;

  &.active {
    color: rgba(#000, 0.27);
    pointer-events: none;
  }

  &:hover {
    background-color: $color-hover;
  }
}

.new-currency-list-item-code,
.new-currency-list-item-name {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

$new-currency-list-item-code-width: 80px;

.new-currency-list-item-code {
  font-weight: 400;
  width: $new-currency-list-item-code-width;
}

.new-currency-list-item-name {
  width: calc(100% - #{$new-currency-list-item-code-width});
}

.currency-input {
  font-family: 'Roboto Mono', Courier, monospace;
  padding: 24px 32px;

  &:focus {
    color: $color-text-focus;
  }
}

.currency-more {
  position: absolute;
  right: 0;
  top: 0;

  &.active .currency-more-menu {
    visibility: visible;
    opacity: 1;
  }
}

.currency-more-open {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 8px;
  padding-right: 8px;
  position: relative;
  text-align: right;
  width: 16px;

  &:after,
  &:before {
    content: '\00B7';
    left: 0;
    margin: 0;
    padding-right: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  &:before {
    top: 6px;
  }

  &:after {
    top: 12px;
  }
}

.currency-more-menu {
  background-color: #fff;
  border: 1px solid rgba(#000, 0.1);
  box-shadow: 1px 1px 1px 0 rgba(#000, 0.02);
  font-size: 16px;
  opacity: 0;
  padding: 6px 0;
  position: absolute;
  right: 8px;
  top: 8px;
  visibility: hidden;
  z-index: 1;
}

.currency-more-menu-item {
  cursor: pointer;
  min-width: 100px;
  padding: 8px 20px 6px 20px;
  transition: background-color ease-out 100ms;

  &:hover {
    background-color: $color-hover;
  }
}

fieldset {
  border: 0;
  margin: 0;
  position: relative;
  padding: 0;

  &:nth-child(2n) {
    background-color: rgba(#000, 0.02);
  }
}

input {
  background: none;
  border: 0;
  color: $color-text;
  font-size: 28px;
  font-weight: 300;
  outline: 0;
  text-align: right;
  transition: color ease-out 100ms;
  width: 100%;
}

input:focus + label {
  color: $color-text-focus;
}

label {
  left: 32px;
  pointer-events: none;
  position: absolute;
  top: 24px;
  transition: color ease-out 100ms;
}
